;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sat Feb 23 13:39:06 2013
;; Desktop file format version 206
;; Emacs version 24.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("log"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/.emacs.d/24/packages_config/" "~/.emacs.d/24/packages_config/jdee_config.el"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/schnecki/.emacs.d/24/packages_config/jdee_config.el"
  "jdee_config.el"
  'emacs-lisp-mode
  '(auto-complete-mode linum-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-mru-bookmark-mode)
  3883
  '(3468 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

