/.#session*
/.bookmarks
/.emacs.d
/.mc-lists.el
*TAGS
/abbrev_defs
/ac-comphist.dat
/auto-save-list/
/elconfig.desktop
/elpa.bak/
/elpa/
/eshell/
/image-dired/
/org-clock-save.el
/org/
/semanticdb/
/session*
/settings.el
/srecode-map.el
/tramp
/url/
/var/
/.tmp/
