elpa/*
**TAGS
session.*
./ac-comphist.dat
./thumbs
./tramp
.tmp/*
eshell/**
auto-save-list/*
./abbrev_defs
*settings.el*
./.mc-lists.el
*~
eshell/history
eshell/lastdir
/.mc-lists.el
/.tmp/*
/eshell/*
/ac-comphist.dat
