/.#session*
/.bookmarks
/.emacs.d
/.mc-lists.el
*TAGS
/abbrev_defs
/ac-comphist.dat
/auto-save-list/
/elconfig.desktop
/elpa.bak/
/elpa/
/eshell/
/image-dired/
/org-clock-save.el
/org/
/semanticdb/
/session*
/settings.el
/srecode-map.el
/tramp
/url/
/var/
/.tmp/
/24/packages/cedet/.bzr/repository/indices/3d11c7291ccf524c8f45d0ddb4a8e31f.cix
/24/packages/cedet/.bzr/repository/indices/3d11c7291ccf524c8f45d0ddb4a8e31f.iix
/24/packages/cedet/.bzr/repository/indices/3d11c7291ccf524c8f45d0ddb4a8e31f.rix
/24/packages/cedet/.bzr/repository/indices/3d11c7291ccf524c8f45d0ddb4a8e31f.six
/24/packages/cedet/.bzr/repository/indices/3d11c7291ccf524c8f45d0ddb4a8e31f.tix
/24/packages/cedet/.bzr/repository/packs/3d11c7291ccf524c8f45d0ddb4a8e31f.pack
/24/packages/cedet/lisp/cedet/cogre/wisent-dot-wy.el~
*~
*.elc
/Project.ede
/ede-projects.el
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-compat.elc
/24/packages/cedet/lisp/cedet/cedet-cscope.elc
/24/packages/cedet/lisp/cedet/cedet-edebug.elc
/24/packages/cedet/lisp/cedet/cedet-files.elc
/24/packages/cedet/lisp/cedet/cedet-global.elc
/24/packages/cedet/lisp/cedet/cedet-graphviz.elc
/24/packages/cedet/lisp/cedet/cedet-idutils.elc
/24/packages/cedet/lisp/cedet/cedet-java.elc
/24/packages/cedet/lisp/cedet/cedet-m3.elc
/24/packages/cedet/lisp/cedet/cedet.elc
/24/packages/cedet/lisp/cedet/cogre.elc
/24/packages/cedet/lisp/cedet/cogre/ascii.elc
/24/packages/cedet/lisp/cedet/cogre/convert.elc
/24/packages/cedet/lisp/cedet/cogre/dot-mode.elc
/24/packages/cedet/lisp/cedet/cogre/layout.elc
/24/packages/cedet/lisp/cedet/cogre/mode.elc
/24/packages/cedet/lisp/cedet/cogre/periodic.elc
/24/packages/cedet/lisp/cedet/cogre/picture-hack.elc
/24/packages/cedet/lisp/cedet/cogre/semantic.elc
/24/packages/cedet/lisp/cedet/cogre/srecode.elc
/24/packages/cedet/lisp/cedet/cogre/uml.elc
/24/packages/cedet/lisp/cedet/cogre/wisent-dot-wy.elc
/24/packages/cedet/lisp/cedet/cogre/wisent-dot.elc
/24/packages/cedet/lisp/cedet/data-debug.elc
/24/packages/cedet/lisp/cedet/ede.elc
/24/packages/cedet/lisp/cedet/ede/android.elc
/24/packages/cedet/lisp/cedet/ede/ant.elc
/24/packages/cedet/lisp/cedet/ede/arduino.elc
/24/packages/cedet/lisp/cedet/ede/auto.elc
/24/packages/cedet/lisp/cedet/ede/autoconf-edit.elc
/24/packages/cedet/lisp/cedet/ede/base.elc
/24/packages/cedet/lisp/cedet/ede/cpp-root.elc
/24/packages/cedet/lisp/cedet/ede/custom.elc
/24/packages/cedet/lisp/cedet/ede/dired.elc
/24/packages/cedet/lisp/cedet/ede/emacs.elc
/24/packages/cedet/lisp/cedet/ede/files.elc
/24/packages/cedet/lisp/cedet/ede/generic.elc
/24/packages/cedet/lisp/cedet/ede/java-root.elc
/24/packages/cedet/lisp/cedet/ede/jvm-base.elc
/24/packages/cedet/lisp/cedet/ede/lein2.elc
/24/packages/cedet/lisp/cedet/ede/linux.elc
/24/packages/cedet/lisp/cedet/ede/locate.elc
/24/packages/cedet/lisp/cedet/ede/m3.elc
/24/packages/cedet/lisp/cedet/ede/make.elc
/24/packages/cedet/lisp/cedet/ede/makefile-edit.elc
/24/packages/cedet/lisp/cedet/ede/maven2.elc
/24/packages/cedet/lisp/cedet/ede/pconf.elc
/24/packages/cedet/lisp/cedet/ede/pmake.elc
/24/packages/cedet/lisp/cedet/ede/proj-archive.elc
/24/packages/cedet/lisp/cedet/ede/proj-aux.elc
/24/packages/cedet/lisp/cedet/ede/proj-comp.elc
/24/packages/cedet/lisp/cedet/ede/proj-elisp.elc
/24/packages/cedet/lisp/cedet/ede/proj-info.elc
/24/packages/cedet/lisp/cedet/ede/proj-misc.elc
/24/packages/cedet/lisp/cedet/ede/proj-obj.elc
/24/packages/cedet/lisp/cedet/ede/proj-prog.elc
/24/packages/cedet/lisp/cedet/ede/proj-scheme.elc
/24/packages/cedet/lisp/cedet/ede/proj-shared.elc
/24/packages/cedet/lisp/cedet/ede/proj.elc
/24/packages/cedet/lisp/cedet/ede/project-am.elc
/24/packages/cedet/lisp/cedet/ede/shell.elc
/24/packages/cedet/lisp/cedet/ede/source.elc
/24/packages/cedet/lisp/cedet/ede/speedbar.elc
/24/packages/cedet/lisp/cedet/ede/srecode.elc
/24/packages/cedet/lisp/cedet/ede/system.elc
/24/packages/cedet/lisp/cedet/ede/util.elc
/24/packages/cedet/lisp/cedet/fame.elc
/24/packages/cedet/lisp/cedet/inversion.elc
/24/packages/cedet/lisp/cedet/mode-local.elc
/24/packages/cedet/lisp/cedet/pprint.elc
/24/packages/cedet/lisp/cedet/pulse.elc
/24/packages/cedet/lisp/cedet/semantic.elc
/24/packages/cedet/lisp/cedet/semantic/adebug.elc
/24/packages/cedet/lisp/cedet/semantic/analyze.elc
/24/packages/cedet/lisp/cedet/semantic/analyze/complete.elc
/24/packages/cedet/lisp/cedet/semantic/analyze/debug.elc
/24/packages/cedet/lisp/cedet/semantic/analyze/fcn.elc
/24/packages/cedet/lisp/cedet/semantic/analyze/refs.elc
/24/packages/cedet/lisp/cedet/semantic/ast.elc
/24/packages/cedet/lisp/cedet/semantic/bovine.elc
/24/packages/cedet/lisp/cedet/semantic/bovine/c-by.elc
/24/packages/cedet/lisp/cedet/semantic/bovine/c.elc
/24/packages/cedet/lisp/cedet/semantic/bovine/clang.elc
/24/packages/cedet/lisp/cedet/semantic/bovine/debug.elc
/24/packages/cedet/lisp/cedet/semantic/bovine/el.elc
/24/packages/cedet/lisp/cedet/semantic/bovine/erlang-by.elc
/24/packages/cedet/lisp/cedet/semantic/bovine/erlang.elc
/24/packages/cedet/lisp/cedet/semantic/bovine/f90-by.elc
/24/packages/cedet/lisp/cedet/semantic/bovine/f90.elc
/24/packages/cedet/lisp/cedet/semantic/bovine/gcc.elc
/24/packages/cedet/lisp/cedet/semantic/bovine/grammar-macros.elc
/24/packages/cedet/lisp/cedet/semantic/bovine/grammar.elc
/24/packages/cedet/lisp/cedet/semantic/bovine/make-by.elc
/24/packages/cedet/lisp/cedet/semantic/bovine/make.elc
/24/packages/cedet/lisp/cedet/semantic/bovine/scm-by.elc
/24/packages/cedet/lisp/cedet/semantic/bovine/scm.elc
/24/packages/cedet/lisp/cedet/semantic/canned-configs.elc
/24/packages/cedet/lisp/cedet/semantic/chart.elc
/24/packages/cedet/lisp/cedet/semantic/complete.elc
/24/packages/cedet/lisp/cedet/semantic/ctxt.elc
/24/packages/cedet/lisp/cedet/semantic/custom.elc
/24/packages/cedet/lisp/cedet/semantic/db-cscope.elc
/24/packages/cedet/lisp/cedet/semantic/db-debug.elc
/24/packages/cedet/lisp/cedet/semantic/db-ebrowse.elc
/24/packages/cedet/lisp/cedet/semantic/db-el.elc
/24/packages/cedet/lisp/cedet/semantic/db-file.elc
/24/packages/cedet/lisp/cedet/semantic/db-find.elc
/24/packages/cedet/lisp/cedet/semantic/db-global.elc
/24/packages/cedet/lisp/cedet/semantic/db-javap.elc
/24/packages/cedet/lisp/cedet/semantic/db-javascript.elc
/24/packages/cedet/lisp/cedet/semantic/db-mk.elc
/24/packages/cedet/lisp/cedet/semantic/db-mode.elc
/24/packages/cedet/lisp/cedet/semantic/db-mozrepl.elc
/24/packages/cedet/lisp/cedet/semantic/db-ref.elc
/24/packages/cedet/lisp/cedet/semantic/db-search.elc
/24/packages/cedet/lisp/cedet/semantic/db-typecache.elc
/24/packages/cedet/lisp/cedet/semantic/db.elc
/24/packages/cedet/lisp/cedet/semantic/debug.elc
/24/packages/cedet/lisp/cedet/semantic/decorate.elc
/24/packages/cedet/lisp/cedet/semantic/decorate/include.elc
/24/packages/cedet/lisp/cedet/semantic/decorate/mode.elc
/24/packages/cedet/lisp/cedet/semantic/dep.elc
/24/packages/cedet/lisp/cedet/semantic/doc.elc
/24/packages/cedet/lisp/cedet/semantic/ectags/db.elc
/24/packages/cedet/lisp/cedet/semantic/ectags/lang.elc
/24/packages/cedet/lisp/cedet/semantic/ectags/lang2.elc
/24/packages/cedet/lisp/cedet/semantic/ectags/parse.elc
/24/packages/cedet/lisp/cedet/semantic/ectags/util.elc
/24/packages/cedet/lisp/cedet/semantic/ede-grammar.elc
/24/packages/cedet/lisp/cedet/semantic/edit.elc
/24/packages/cedet/lisp/cedet/semantic/elp.elc
/24/packages/cedet/lisp/cedet/semantic/find.elc
/24/packages/cedet/lisp/cedet/semantic/format.elc
/24/packages/cedet/lisp/cedet/semantic/fw.elc
/24/packages/cedet/lisp/cedet/semantic/gram-wy-fallback.elc
/24/packages/cedet/lisp/cedet/semantic/grammar-wy.elc
/24/packages/cedet/lisp/cedet/semantic/grammar.elc
/24/packages/cedet/lisp/cedet/semantic/html.elc
/24/packages/cedet/lisp/cedet/semantic/ia-sb.elc
/24/packages/cedet/lisp/cedet/semantic/ia.elc
/24/packages/cedet/lisp/cedet/semantic/idle.elc
/24/packages/cedet/lisp/cedet/semantic/imenu.elc
/24/packages/cedet/lisp/cedet/semantic/java.elc
/24/packages/cedet/lisp/cedet/semantic/lex-spp.elc
/24/packages/cedet/lisp/cedet/semantic/lex.elc
/24/packages/cedet/lisp/cedet/semantic/m3.elc
/24/packages/cedet/lisp/cedet/semantic/mru-bookmark.elc
/24/packages/cedet/lisp/cedet/semantic/sb.elc
/24/packages/cedet/lisp/cedet/semantic/scope.elc
/24/packages/cedet/lisp/cedet/semantic/senator.elc
/24/packages/cedet/lisp/cedet/semantic/sort.elc
/24/packages/cedet/lisp/cedet/semantic/symref.elc
/24/packages/cedet/lisp/cedet/semantic/symref/cscope.elc
/24/packages/cedet/lisp/cedet/semantic/symref/filter.elc
/24/packages/cedet/lisp/cedet/semantic/symref/global.elc
/24/packages/cedet/lisp/cedet/semantic/symref/grep.elc
/24/packages/cedet/lisp/cedet/semantic/symref/idutils.elc
/24/packages/cedet/lisp/cedet/semantic/symref/list.elc
/24/packages/cedet/lisp/cedet/semantic/tag-file.elc
/24/packages/cedet/lisp/cedet/semantic/tag-ls.elc
/24/packages/cedet/lisp/cedet/semantic/tag-write.elc
/24/packages/cedet/lisp/cedet/semantic/tag.elc
/24/packages/cedet/lisp/cedet/semantic/texi.elc
/24/packages/cedet/lisp/cedet/semantic/util-modes.elc
/24/packages/cedet/lisp/cedet/semantic/util.elc
/24/packages/cedet/lisp/cedet/semantic/wisent.elc
/24/packages/cedet/lisp/cedet/semantic/wisent/bison-wisent.elc
/24/packages/cedet/lisp/cedet/semantic/wisent/calc-wy.elc
/24/packages/cedet/lisp/cedet/semantic/wisent/calc.elc
/24/packages/cedet/lisp/cedet/semantic/wisent/comp.elc
/24/packages/cedet/lisp/cedet/semantic/wisent/debug.elc
/24/packages/cedet/lisp/cedet/semantic/wisent/expr.elc
/24/packages/cedet/lisp/cedet/semantic/wisent/grammar-macros.elc
/24/packages/cedet/lisp/cedet/semantic/wisent/grammar.elc
/24/packages/cedet/lisp/cedet/semantic/wisent/java-tags-wy.elc
/24/packages/cedet/lisp/cedet/semantic/wisent/java-tags.elc
/24/packages/cedet/lisp/cedet/semantic/wisent/java-wy.elc
/24/packages/cedet/lisp/cedet/semantic/wisent/java.elc
/24/packages/cedet/lisp/cedet/semantic/wisent/javascript-wy.elc
/24/packages/cedet/lisp/cedet/semantic/wisent/javascript.elc
/24/packages/cedet/lisp/cedet/semantic/wisent/python-wy.elc
/24/packages/cedet/lisp/cedet/semantic/wisent/python.elc
/24/packages/cedet/lisp/cedet/semantic/wisent/wisent.elc
/24/packages/cedet/lisp/cedet/srecode.elc
/24/packages/cedet/lisp/cedet/srecode/android.elc
/24/packages/cedet/lisp/cedet/srecode/args.elc
/24/packages/cedet/lisp/cedet/srecode/compile.elc
/24/packages/cedet/lisp/cedet/srecode/cpp.elc
/24/packages/cedet/lisp/cedet/srecode/ctxt.elc
/24/packages/cedet/lisp/cedet/srecode/dictionary.elc
/24/packages/cedet/lisp/cedet/srecode/document.elc
/24/packages/cedet/lisp/cedet/srecode/el.elc
/24/packages/cedet/lisp/cedet/srecode/expandproto.elc
/24/packages/cedet/lisp/cedet/srecode/extract.elc
/24/packages/cedet/lisp/cedet/srecode/fields.elc
/24/packages/cedet/lisp/cedet/srecode/filters.elc
/24/packages/cedet/lisp/cedet/srecode/find.elc
/24/packages/cedet/lisp/cedet/srecode/getset.elc
/24/packages/cedet/lisp/cedet/srecode/insert.elc
/24/packages/cedet/lisp/cedet/srecode/java.elc
/24/packages/cedet/lisp/cedet/srecode/m3.elc
/24/packages/cedet/lisp/cedet/srecode/map.elc
/24/packages/cedet/lisp/cedet/srecode/mode.elc
/24/packages/cedet/lisp/cedet/srecode/semantic.elc
/24/packages/cedet/lisp/cedet/srecode/srt-mode.elc
/24/packages/cedet/lisp/cedet/srecode/srt-wy.elc
/24/packages/cedet/lisp/cedet/srecode/srt.elc
/24/packages/cedet/lisp/cedet/srecode/table.elc
/24/packages/cedet/lisp/cedet/srecode/template.elc
/24/packages/cedet/lisp/cedet/srecode/texi.elc
/24/packages/cedet/lisp/cedet/working.elc
/24/packages/cedet/lisp/eieio/chart.elc
/24/packages/cedet/lisp/eieio/eieio-base.elc
/24/packages/cedet/lisp/eieio/eieio-core.elc
/24/packages/cedet/lisp/eieio/eieio-custom.elc
/24/packages/cedet/lisp/eieio/eieio-datadebug.elc
/24/packages/cedet/lisp/eieio/eieio-opt.elc
/24/packages/cedet/lisp/eieio/eieio-speedbar.elc
/24/packages/cedet/lisp/eieio/eieio.elc
/24/packages/cedet/lisp/speedbar/rpm.elc
/24/packages/cedet/lisp/speedbar/sb-ant.elc
/24/packages/cedet/lisp/speedbar/sb-html.elc
/24/packages/cedet/lisp/speedbar/sb-info.elc
/24/packages/cedet/lisp/speedbar/sb-rmail.elc
/24/packages/cedet/lisp/speedbar/sb-texinfo.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/cedet-android.elc
/24/packages/cedet/lisp/cedet/semantic/bovine/c-by.el~
/24/packages/cedet/lisp/cedet/semantic/bovine/c-by.el~
/24/packages/cedet/lisp/cedet/semantic/bovine/c-by.el~
/24/packages/cedet/lisp/cedet/semantic/bovine/c-by.el~
/.python-environments
/.#2
/settings.el.example
