;; Delete the example from the file name and edit this file for your needs.

(setq your-full-name "Manuel Schneckenreither")
(setq your-mail-address "manuel.schneckenreither@uibk.ac.at")

(defvar your-mail-addresses
  (concat your-mail-address
          "\\|manuel.schnecki@gmail.com\\|manuel.schneckenreither@student.uibk.ac.at"))


;; THESAURUS - choose synonym and replace
;; get api at http://words.bighugelabs.com/ and register (no cost).
(setq thesaurus_api_key "")

;; THE PREFIX KEY STROKE TO USE FOR CUSTOM COMMANDS
(setq prefix-command-key "C-x x")

