;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sun Jun  2 11:59:58 2013
;; Desktop file format version 206
;; Emacs version 24.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("basic ide" "8" "listi" "fiel" "5" "column" "lst1" "list" "title" "subse" "matrix" "frame" "columns" "parall"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("" "/home/schnecki/.emacs.d/24/basics.el" "~/Documents/UIBK/4.Semester/EidwA/Praesentation/_region_.tex" "~/Documents/UIBK/4.Semester/EidwA/Praesentation/.predictive/auto-overlays-_region_-tex-predictive" "~/Documents/UIBK/4.Semester/EidwA/Praesentation/.predictive/auto-overlays-seven_dwarfs-tex-predictive" "~/Documents/UIBK/4.Semester/EidwA/Praesentation/conclusion.tex" "~/Documents/UIBK/4.Semester/EidwA/Praesentation/.predictive/auto-overlays-conclusion-tex-predictive" "~/Documents/UIBK/4.Semester/EidwA/Praesentation/seven_dwarfs.tex" "~/Documents/UIBK/4.Semester/EidwA/Praesentation/main.tex" "~/Documents/UIBK/4.Semester/EidwA/Praesentation/.predictive/auto-overlays-main-tex-predictive" "~/.emacs.d/24/basics.el" "/home/schnecki/.emacs" "/home/schnecki/,emacs" "/home/schnecki/.emacs.d/24/basics.el"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/schnecki/.emacs.d/24/basics.el"
  "basics.el"
  'emacs-lisp-mode
  '(auto-complete-mode linum-mode highlight-changes-mode semantic-stickyfunc-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-idle-completions-mode semantic-mru-bookmark-mode undo-tree-mode window-number-mode project-mode)
  839
  '(818 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (overwrite-mode) (highlight-changes-mode . t)))

